<nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/" style="cursor: pointer;">
      <img src="/images/turnkey-logo.png" alt="TurnkeyApp Logo" height="50" class="white-filter">
      <span class="ms-2 fw-bold fs-4 text-gradient">TurnkeyPhonebookApp</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon custom-toggler"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fs-5 text-white nav-hover" routerLink="/contacts" routerLinkActive="active">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 text-white nav-hover" routerLink="/add-contact" routerLinkActive="active">Add Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 text-white nav-hover" (click)="toggleTheme()">
            Toggle Theme
          </a>
        </li>
      </ul>
     
    </div>
    
  </div>
  
</nav>
