<div class="container">
  <h2 class="text-center">Add Contact</h2>
  
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    
    <div class="text-center mb-3">
      <label for="imageUpload" class="d-inline-block cursor-pointer">
        <img [src]="imagePreview" class="rounded-circle border shadow-sm" height="80" width="80">
      </label>
      <input type="file" id="imageUpload" (change)="onImageChange($event)" hidden>
      <p class="text-muted small mt-1">Click to upload image</p>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="contact.firstName" name="firstName" required>
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="contact.lastName" name="lastName" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="contact.email" name="email" required>
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" id="phone" [(ngModel)]="contact.phoneNumber" name="phone" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="groupType" class="form-label">groupType</label>
        <select class="form-select" id="groupType" [(ngModel)]="contact.groupType" name="groupType" required>
          <option value="Family">Family</option>
          <option value="Friends">Friends</option>
          <option value="Work">Work</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label">Physical Address</label>
        <input type="tel" class="form-control" id="phone" [(ngModel)]="contact.physicalAddress" name="phone" required>
      </div>
    </div>

    <button type="submit" class="btn btn-primary w-100" [disabled]="!contactForm.form.valid">Save Contact</button>
  </form>
</div>
